body {
    text-align: center;
    font-family: 'Press Start 2P';
    background-color: #E4F9F5;

}

h1 {
    color: #40514E;
    font-size: 50px;
    margin-bottom: 60px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px; ;

}

#container {
    display: flex;
    gap: 150px;
    justify-content: center;
    user-select: none;
    padding-right: 150px;
}

.tools {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.canvas-box {
    display: flex;
    flex-direction: column;
    
}



/* BUTTONS DESIGN */

span {
    font-family: 'Press Start 2P';
    font-size: 12px;
    
  } 
   
  
   
  .btn-rect-to-round {
    height: 55px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s ease-in 0s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
  } 
   
  .btn-rect-to-round:hover, .active {
    border-radius: 60px;
    color: rgb(255, 255, 255) !important;
  } 
   
  .btn-rect-to-round--black {
    border: 2px solid #11999E;
    color: #11999E ;
  } 
   
  .btn-rect-to-round--black:hover, .active {
    border-color: #11999E;
    background: #11999E;
  } 

  .btn-rect-to-round--red {
    border: 2px solid rgb(239, 35, 110);
    color: rgb(239, 35, 110) !important;
  } 
   
  .btn-rect-to-round--red:hover {
    border-color: rgb(239, 35, 110);
    background: rgb(239, 35, 110);
  } 

/* GRID */
#canvas {
    display: flex;
    height: 480px;
    width: 480px;
    
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row {
   flex: 1;
   

}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  padding-bottom: 0px;
  font-size: 13px;
}







